<main>

    <div>
        <li>Id Tienda: {{producto.id_tienda}}</li>
</div>

<form (ngSubmit)="onSubmit()" class="form-container">



    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" [(ngModel)]="producto.nombre" name="nombre" required>
    </div>

    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" [(ngModel)]="producto.descripcion" name="descripcion" required>
    </div>


    <div>
        <label for="precio">Precio:</label>
        <input type="number" [(ngModel)]="producto.precio" name="precio" required>
    </div>


    <div>
        <label for="pais">Cantidad:</label>
        <input type="number" [(ngModel)]="producto.cantidad" name="cantidad" required>
    </div>

    <div>
        <label for="imagen_url">Imagen url:</label>
        <input type="text" disabled [(ngModel)]="producto.imagen" name="imagen_url" required>
    </div>

    <div>
        <label for="imagen">Imagen:</label>
        <input type="file" [(ngModel)]="imagenFile" [(ngModel)]="producto.imagen" name="imagen" required>
    </div>


    <div>
        <label for="categoria">Categoría:</label>
        <input type="text" [(ngModel)]="producto.categoria" name="categoria" required>
    </div>

    <button type="submit" class="primary">Guardar producto</button>
</form>
</main>