
<app-header></app-header>

<main>

    <section>
        <app-search-producto (productoEvent)="receiveProductos($event)"></app-search-producto>
    </section>

    @for (producto of productos; track $index) {

    <ul>
        <li> Nombre: {{producto.nombre}}</li>
        <li> Precio: {{producto.precio}}</li>
        <li> Categoría: {{producto.categoria}}</li>
        <li> Descripción: {{producto.descripcion}}</li>
        <li> Imagen: {{producto.imagen}}</li>
        <button type="submit" (click)="verProducto(producto.id)">Ver producto</button>
    </ul>

    }@empty {
    <h1> No hay productos disponibles</h1>
    }

</main>

<app-footer></app-footer>
